templates_c/
log2/
documentsdg/bkups/
documents/bkups/
documents/vcsignore/
nbproject/
documents/
log/
.svn/
.hg/
documents/*.bat
#conf.ini
config.dbc
configphp.dbc
*.dbc
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db